:root{
   /* Primary */
   --DesaturatedRed: hsl(0, 36%, 70%);
   --SoftRed: hsl(0, 93%, 68%);
   
    /* Neutral */  
   --DarkGrayishRed: hsl(0, 6%, 24%);
   
    /* Gradients */
   /* --Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%); 
   --Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%); */
}
html{
   font-size: 16px;
}
body{
   margin: 0;
   padding: 0;
   font-family: 'Josefin Sans', sans-serif;
   box-sizing: border-box;
}

/* styled for mobile */
.main-container{
   display: flex;
   flex-direction: column;
}
#logo{
   width: 6rem;
   margin: 7% 0 5% 7%;
}
.img-container{
   width: 100%;
   margin: 0;
}
.hero{
   width: 100%;
   margin: 0;
}
.mid-container{
   text-align: center;
   padding: 2% 5%;
   margin-top: 4%;
   margin-bottom: 15%;
}
.heading{
   font-size: 3rem;
   font-weight: 400;
   letter-spacing: 4px;
   color: var(--DarkGrayishRed);
}
span{
   font-weight: 300;
   color: var(--DesaturatedRed);
}
.msg{
   color: var(--DesaturatedRed);
   margin-bottom: 10%;
}
.email-input{
   position: relative;
   width: 300px;
   margin: 0 auto;
}
#email{
   padding-left: 6%;
   width: 90%;
   height: 40px;
   border: var(--DesaturatedRed) solid 1px;
   border-radius: 30px;
   outline: none;
}
::placeholder{
   color: var(--DesaturatedRed);
   font-family: 'Josefin Sans';
   font-size: 1rem;
   font-weight: 600;
   opacity: 0.6;
}
#btn{
   background-color: var(--DesaturatedRed);
   outline: none;
   border: none;
   width: 80px;
   height: 43px;
   border-radius: 20px;
   position: absolute;
   top: 2%;
   right: 0%;
}
#error-img{
   position: absolute;
   top: 15%;
   right: 30%; 
   display: none;
}
#error-msg{
   color: red;
   display: none;
}

/* styled for tablets */
@media only screen and (min-width: 600px) and (max-width: 1079px) {
   #logo{
      width: 8rem;
   }
   .mid-container{
      max-width: 500px;
      margin: 2% auto;
   }
   .heading{
      font-size: 3.5rem;
   }
   .msg{
      font-size: 1.3rem;
      line-height: 1.5;
   }
   .email-input{
      width: 350px;
   }
   #email{
      height: 45px;
   }
   #btn{
      height: 48px;
      border-radius: 25px;
   }
}

/* styled for desktops*/
@media only screen and (min-width: 1080px){
   body{
      position: relative;
      height: 100vh;
      background-image: url(./images/bg-pattern-desktop.svg);
      background-repeat: no-repeat;
      background-size: 52rem 45rem;
      overflow: hidden;
   }
   .main-container{
      display: flex;
      flex-direction: row-reverse;
   }
   #logo{
      display: inline-block;
      width: 9rem;
      margin: 3% 0 5% 5%;
      position: absolute;
      left: 5%;
      z-index: 100;
   }
   .mid-container{
      position: relative;
      padding: 3% 12%;
      margin-top: 8%;
      padding-left: 10%;
      text-align: left;
   }
   #hero{
      width: 100%;      
      height: 100%;
   }
   .heading{
      padding: 0 30%;
      padding-left: 0%;
      margin-bottom: 10%;
   }
   .msg{
      line-height: 1.7;
   }
   .email-input{
      width: 400px;
      margin: 0;
      
   }
   #email{
   height: 50px;
   }
   #btn{
      height: 53px;
      width: 100px;
      border-radius: 25px;
   }   
   .arrow-img{
      padding: 11%;
   }
   #error-img{
      right: 40%;
   }
}
